<!DOCTYPE html>
<html>
  <head>
    <title>Nom Noms</title>
    <style type="text/css">
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <script src="/components/webcomponentsjs/webcomponents-lite.min.js"></script>
    <link rel="import" href="/components/nom-noms/nom-noms-theme.html">
    <link rel="import" href="/components/nom-noms/nom-noms.html">
    <template is="dom-bind">
      <nom-noms></nom-noms>
    </template>
  </body>
</html>
