<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../neon-animation/neon-animations.html">
<link rel="import" href="../neon-animation/neon-shared-element-animatable-behavior.html">
<link rel="import" href="../paper-item/paper-item.html">

<dom-module id="nom-noms-home">
  <template>
    <style>
      paper-item {
        background-color: #333;
      }
    </style>
    <paper-item on-tap="onTap" idx="1">add meal</paper-item>
    <paper-item on-tap="onTap" idx="2">view meals</paper-item>
    <paper-item on-tap="onTap" idx="3">add place</paper-item>
    <paper-item on-tap="onTap" idx="4">search places</paper-item>
  </template>
</dom-module>

<script>
  /* global Polymer */
  Polymer({
    is: 'nom-noms-home',
    behaviors: [
      Polymer.NeonSharedElementAnimatableBehavior
    ],
    properties: {
      animationConfig: {
        type: Object,
        value: function() {
          return {
            'entry': [{
              name: 'hero-animation',
              id: 'hero',
              toPage: this,
              timing: {
                delay: 150
              },
            }],
            'exit': [{
              name: 'ripple-animation',
              id: 'ripple',
              fromPage: this
            }, {
              name: 'hero-animation',
              id: 'hero',
              fromPage: this
            }]
          }
        }
      }
    },
    onTap: function(event) {
      var target = event.target;
      // configure the page animation
      this.sharedElements = {
        'hero': target,
        'ripple': target
      };
      this.animationConfig['exit'][0].gesture = {
        x: event.x || event.pageX || event.detail.x,
        y: event.y || event.pageY || event.detail.y
      };
      this.fire('page-select', {
        index: target.getAttribute('idx')
      });
    }
  });
</script>
